<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<title>Edge</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
	<script src="./script.js"></script>
	<body>


		<ul>
			<li>Red LED: <a href="/led/red/on"> On</a>| <a href="/led/red/off"/>Off</a></li>
			<li>Green LED: <a href="/led/green/on"> On</a>| <a href="/led/green/off"/>Off</a></li>
			<li>Blue LED: <a href="/led/green/on"> On</a>| <a href="/led/green/off"/>Off</a></li>
		</ul>
		<p>Click <a href="/weather"> here for the weather</a></p>
		<p>Click <a href="/camera"> here for the webcam</a></p>



	</body>
</html>